/* .banner-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
 } */

@media (max-width: 1218px) {
    .LeftBannerText{
       font-size: 50px;
    }
}

@media (max-width: 570px) {
    .LeftBannerText{
       font-size: 40px;
    }
    .spinText{
       font-size: 40px;
    }
    .spinnerText{
       font-size: 20px;
    }
}

